.articles-body {
  background-color: #ddd;
}

.hero-text {
  text-align: center;
  margin: 20px 0;
  color: #4285f4;
  font-weight: bold;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
  gap: 50px;
}

.article {
  background-color: #fff;
  box-shadow: 0 0 5px 5px #ccc;
}

.article div {
  padding: 1rem;
  word-break: break-all;
}

.article p {
  margin: 20px 0;
}
.article a {
  display: block;
  margin: 10px 0;
}

.article img {
  width: 100%;
}
