.blog-container {
  width: 85%;
}

.img {
  display: flex;
  justify-content: center;
}

.main-section {
  text-align: left;
}

.main-section img {
  display: block;
  margin: 50px 0;
  width: 700px;
}

.main-heading {
  font-size: 35px;
  text-align: center;
  margin: 15px 0;
}

.main-text {
  font-size: 20px;
  margin-bottom: 50px;
}

.main-section p {
  margin: 10px 0 50px 0;
}

.main-section .symptom-text,
.main-section .treatment-text,
.main-section .causes-text {
  margin: 10px 0 10px 0;
}

.main-section .list {
  margin-bottom: 50px;
  list-style: square;
  margin-left: 50px;
}

.main-section .conclusion {
  margin-bottom: 50px;
}

.go-back {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: 1px solid black;
  display: block;
  cursor: pointer;
  margin: 30px 0 70px 0;
}

@media (max-width: 768px) {
  .main-section .img {
    width: 100%;
  }
  .main-section .img img {
    width: 100%;
  }
}
